.mainContainer {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 52px;
    background-color: var(--bg-secondary);
}

.orderProducts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

.orderCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-big);
}

.orderForm {
    position: sticky;
    top: var(--gap-big);
    box-sizing: border-box;
    width: 100%;
    max-width: 580px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
    padding: 20px;
    border-radius: var(--br-radius-primary);
    background-color: var(--bg-primary);
    box-shadow: var(--shadow);
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

.formField {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.formField input {
    max-width: 400px;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: var(--br-radius-primary);
    font-size: 18px;
    box-shadow: var(--shadow);
}

.formField label {
    font-weight: 700;
    font-size: var(--fs-medium);
}

.orderInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-big);
}

.orderSum {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    padding: 10px 25px;
}

.orderSum span {
    font-weight: 700;
    font-size: var(--fs-medium);
}

.orderSum p {
    font-size: 22px;
    font-weight: 700;
    color: var(--fc-accent);
}

.orderBtn {
    padding: 10px 64px;
    font-size: 22px;
    font-weight: 700;
}

.orderPayBlock {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
    align-items: center;
    padding-top: 30px;

}

.orderPayBlock span {
    font-weight: 700;
    font-size: var(--fs-medium);
}

.orderPayBlock input {
    max-width: 400px;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: var(--br-radius-primary);
    font-size: 18px;
    box-shadow: var(--shadow);
}